.MoviePoster {
    /* border: 2px solid #ccc; */
    /* padding: 10px; */
    width: 200px;
    transition: all 0.2s ease;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    text-align: center;
    border-radius: 10px;
}

h2 {
    display: none;
}

/* use a footer to place the votes? */
/* remove titles of movies */
/* fit poster to the container(or vise versa) */