* {
  margin: 0;
  padding: 0;
}

body {
  background-image:linear-gradient(to right, #3e49b1, purple) ;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
  border-radius: 10px;
  background-image:linear-gradient(to right, #3e49b1, purple) ;

}

section p {
  font-size: 20px;
  padding: 8px 12px;
  text-align: center;
  /* margin-top: 10px; */
  color: black;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}